export EDITOR_COLUMNS_FUNCTION=22
export EDITOR_COLUMNS_NAMESPACE=94
export DEFAULT_IO=0
export LD_LIBRARY_PATH="/opt/arrayfire/lib64:$(pwd)/rtm:$(pwd)/tests:${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"
export MAXWS=4GB
use nix
